<p-toast position="bottom-right" />
<ng-http-loader></ng-http-loader>
<p-menubar [model]="items" *ngIf="isAuthenticated" class="no-print">
    <ng-template pTemplate="start">
        <!-- <img src="1_vshg_logo_final_primary_small.png" style="height: 50px" /> -->
        <img src="app/assets/vamp/browser/1_vshg_logo_final_primary_small.png" style="height: 50px" />
    </ng-template>
    <ng-template pTemplate="item" let-item>
        <ng-container *ngIf="item.route; else urlRef">
            <a [routerLink]="item.route" class="p-menuitem-link">
                <span [class]="item.icon" *ngIf="item.icon" style="padding-right: 0.5rem"></span>
                <span class="ml-2">{{ item.label }}</span>
            </a>
        </ng-container>
        <ng-template #urlRef>
            <a *ngIf="item.url; else noLink" [href]="item.url" class="p-menuitem-link">
                <span [class]="item.icon" *ngIf="item.icon" style="padding-right: 0.5rem"></span>
                <span class="ml-2">{{ item.label }}</span>
            </a>
        </ng-template>
        <ng-template #noLink>
            <div class="p-menuitem-link">
                <span [class]="item.icon" *ngIf="item.icon" style="padding-right: 0.5rem"></span>
                <span class="ml-2">{{ item.label }}</span>
                <span class="pi pi-fw pi-angle-down ml-2" *ngIf="item.items?.length"></span>
            </div>
        </ng-template>
    </ng-template>
    <ng-template pTemplate="end">
        <div class="flex align-items-center gap-2">
            <div>
                <p-button label="logout" [link]="true" (click)="logout()" />
            </div>
            <div><span class="pi pi-phone"></span></div>
            <div>
                <p-button label="Instruction Guide" [link]="true" download="http://uat-vikingvamp.azurewebsites.net/Content/QuickUserGuide.pdf" />
            </div>
        </div>
    </ng-template>
</p-menubar>
<router-outlet />
