<p-toast position="bottom-right" key="client" />
<div class="p-2">
    <div>
        <p-card>
            <div class="flex flex-wrap gap-2">
                <div class="mt-4">
                    <p-floatLabel>
                        <input type="text" id="name" pInputText [(ngModel)]="client.name" required />
                        <label for="name">Name</label>
                    </p-floatLabel>
                </div>
                <div class="mt-4">
                    <p-checkbox [(ngModel)]="client.isProspect" [binary]="true" label="Prospect" />
                </div>
                <div class="mt-4">
                    <p-floatLabel>
                        <p-calendar [(ngModel)]="client.contractDate" />
                        <label for="contractDate">Contract Date</label>
                    </p-floatLabel>
                </div>
                <div class="mt-4">
                    <p-floatLabel>
                        <input type="text" id="address1" pInputText [(ngModel)]="client.address1" />
                        <label for="address1">Address1</label>
                    </p-floatLabel>
                </div>
                <div class="mt-4">
                    <p-floatLabel>
                        <input type="text" id="address2" pInputText [(ngModel)]="client.address2" />
                        <label for="address2">Address2</label>
                    </p-floatLabel>
                </div>
                <div class="mt-4">
                    <p-floatLabel>
                        <input type="text" id="city" pInputText [(ngModel)]="client.city" />
                        <label for="city">City</label>
                    </p-floatLabel>
                </div>
                <div class="mt-4">
                    <p-floatLabel>
                        <input type="text" id="state" pInputText [(ngModel)]="client.state" />
                        <label for="state">State</label>
                    </p-floatLabel>
                </div>
                <div class="mt-4">
                    <p-floatLabel>
                        <input type="text" id="zip" pInputText [(ngModel)]="client.zip" />
                        <label for="zip">Zip</label>
                    </p-floatLabel>
                </div>
                <div class="mt-4">
                    <p-floatLabel>
                        <p-inputMask inputId="phone" mask="(999) 999-9999" class="w-full" [(ngModel)]="client!.phone" />
                        <label for="phone">Phone</label>
                    </p-floatLabel>
                </div>
                <div class="mt-4">
                    <p-floatLabel>
                        <input type="text" id="subDomain" pInputText [(ngModel)]="client.subDomain" />
                        <label for="subDomain">Sub Domain</label>
                    </p-floatLabel>
                </div>
                <div class="mt-4">
                    <p-checkbox [binary]="true" inputId="isActive" class="w-full" [(ngModel)]="client!.isActive" label="Active" />
                </div>
            </div>
        </p-card>
    </div>
    <div class="mt-2">
        <p-card>
            <p-table
                [columns]="selectedColumnsContacts"
                [value]="client.clientContacts"
                styleClass="p-datatable-striped"
                [tableStyle]="{ 'min-width': '50rem' }"
                [scrollable]="true"
                scrollHeight="flex"
                sortField="name"
                [sortOrder]="-1"
                selectionMode="single"
                dataKey="clientContactId"
                [rowsPerPageOptions]="[5, 10, 20]"
                [paginator]="true"
                [rows]="5"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                paginatorStyleClass="justify-content-end"
            >
                <ng-template pTemplate="caption">
                    <div class="flex align-items-center justify-content-between">
                        Contacts
                        <p-button label="Add" icon="pi pi-plus" class="mr-1" [raised]="true" [text]="true" (click)="openContact(null)" />
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th style="width: 120px" class="text-center">
                            <p-button (onClick)="op.toggle($event)" title="Select columns" icon="pi pi-bars" />
                            <p-overlayPanel #op><p-multiSelect [options]="colsContacts" [formControl]="selectedColumnsContactsCtrl" optionLabel="header" placeholder="Please select columns"> </p-multiSelect></p-overlayPanel>
                        </th>
                        <th *ngFor="let col of columns" pSortableColumn="{{ col.field }}" [class.text-center]="col.type === 'boolean'">{{ col.header }}<p-sortIcon field="{{ col.field }}" /></th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-row let-columns="columns">
                    <tr>
                        <td class="text-center">
                            <p-button icon="pi pi-times" (click)="delete(row)" severity="danger" title="Delete" />
                            <p-button icon="pi pi-expand" title="Details" (click)="openContact(row)" />
                        </td>
                        <td *ngFor="let col of columns" [class.text-center]="col.type === 'boolean'" [ngSwitch]="col.type">
                            <div *ngSwitchCase="'boolean'">
                                <p-checkbox [(ngModel)]="row[col.field]" [binary]="true" inputId="binary" disabled="true" />
                            </div>
                            <div *ngSwitchDefault>{{ row[col.field] }}</div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-card>
    </div>
    <div class="mt-2">
        <p-card>
            <p-table
                [columns]="selectedProductsColumns"
                [value]="client.products"
                styleClass="p-datatable-striped"
                [tableStyle]="{ 'min-width': '50rem' }"
                [scrollable]="true"
                scrollHeight="flex"
                sortField="name"
                [sortOrder]="-1"
                selectionMode="single"
                dataKey="clientContractId"
                [rowsPerPageOptions]="[5, 10, 20]"
                [paginator]="true"
                [rows]="5"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                paginatorStyleClass="justify-content-end"
            >
                <ng-template pTemplate="caption">
                    <div class="flex align-items-center justify-content-between">
                        Products
                        <p-button label="Add" icon="pi pi-plus" class="mr-1" [raised]="true" [text]="true" (click)="openProduct(null)" />
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th style="width: 120px" class="text-center">
                            <p-button (onClick)="op.toggle($event)" title="Select columns" icon="pi pi-bars" />
                            <p-overlayPanel #op><p-multiSelect [options]="colsProducts" [formControl]="selectedProductsColumnsCtrl" optionLabel="header" placeholder="Please select columns"> </p-multiSelect></p-overlayPanel>
                        </th>
                        <th *ngFor="let col of columns" pSortableColumn="{{ col.field }}" [class.text-center]="col.type === 'boolean'">{{ col.header }}<p-sortIcon field="{{ col.field }}" /></th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-row let-columns="columns">
                    <tr>
                        <td class="text-center">
                            <p-button icon="pi pi-times" (click)="delete(row)" severity="danger" title="Delete" />
                            <p-button icon="pi pi-expand" title="Details" (click)="openProduct(row)" />
                        </td>
                        <td *ngFor="let col of columns" [class.text-center]="col.type === 'boolean'" [ngSwitch]="col.type">
                            <div *ngSwitchCase="'boolean'">
                                <p-checkbox [(ngModel)]="row[col.field]" [binary]="true" inputId="binary" disabled="true" />
                            </div>
                            <div *ngSwitchDefault>{{ getValue(row, col.field) }}</div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-card>
    </div>
    <p-divider />
    <div class="text-right">
        <p-button icon="pi pi-save" label="Save" [outlined]="true" severity="primary" (click)="save()" />
    </div>
</div>
<app-confirm-dialog-headless [accept]="acceptLabel" [reject]="rejectLabel"></app-confirm-dialog-headless>
