@import "primeicons/primeicons.css";
@import "../public/themes/mytheme/theme.scss";
@import "@fontsource/nunito";
@import "quill/dist/quill.core.css";
@import "quill/dist/quill.snow.css";
.primary-header {
    & .p-panel-header{
        background-color: #001A36 !important;
        color:white
    }
    & .p-panel-header-icon{
        color:white
    }
}

.secondary-header {
    &-no-padding .p-panel-header,
    &-no-padding .p-panel-footer{
        padding-top:1px;
        padding-bottom:1px;
        background-color: #{$secondaryButtonBg} !important;
        color:white
    }
    & .p-panel-header,
    & .p-panel-footer{
        background-color:#{$secondaryButtonBg} !important;
        color:white
    }
    & .p-panel-header-icon{
        color:white
    }
}

.third-header {
    &-no-padding .p-panel-header{
        padding-top:1px;
        padding-bottom:1px;
        background-color: #{$successButtonBg} !important;
        color:white
    }
    & .p-panel-header{
        background-color:#{$successButtonBg} !important;
        color:white
    }
    & .p-panel-header-icon{
        color:white
    }
}
.fourth-header {
    &-no-padding .p-panel-header{
        padding-top:1px;
        padding-bottom:1px;
        background-color: #{$infoButtonBg} !important;
        color:white
    }
    & .p-panel-header{
        background-color:#{$infoButtonBg} !important;
        color:white
    }
    & .p-panel-header-icon{
        color:white
    }
}
.tri{
    & timesicon{
        background-color: red!important;
    }
    & checkicon{
        background-color: green!important;
    }
}
.p-tabview-nav-content .p-highlight .p-checkbox .p-checkbox-box{
    border-color: inherit!important;
}

























/* TITLE BARS */
/* Dark Blue bar */
.title-bar-dark{
	background:#001A36;
	color: #FFF;
}
/* Dark Teal Bar */
.title-bar-level2{
	background:#00718c;
	color: #FFF;
}
/* Light Teal Bar */
.title-bar-level3{
	background:#00BCDD;
	color: #001A36;
}
/* Brown/Grey Bar */
.title-bar-level4{
	background:#B6AFA7;
	color: #000;
}
/* Light brown grey */
.light-brown-grey{
	background: #EDE9E4;
	color: #000;
}

/* BUTTONS / Links that look like Buttons */
.button-light-teal{
	background:#00bcdd;
	color: #001A36;
	border: solid 2px #001A36;
}

.button-dark-teal{
	background:#00718c;
	color: #FFF;
	border: solid 2px #FFF;
}

.button-light-teal:hover, .button-light-teal:focus,.button-dark-teal:hover, .button-dark-teal:focus {
	background:#001A36;
	color: #00bcdd;
	border: solid 2px #001A36;
	outline-offset: 2px;
}
.button-delete{
	background: #EE0000;
	color:#FFF;
}
.button-delete:hover, .button-delete:focus{
	background: #8D2435;
	color:#FFF;
}
/* FORM FIELDS */
input[type=date], input[type=datetime], input[type=email], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select, textarea{
	 border: 1px solid #666;
	 color: #000;
 }
 ::placeholder{
	 color:#666;
	 opacity: 1;
 }
 @media print {
	.no-print {
		display: none;
	}
    html, body {
        height: auto;
        font-size: 10pt!important; /* changing to 10pt has no impact */
        // transform: scale(1);
    }
    @page {
        margin-left: 5px;
        margin-right: 5px;
        size: landscape;
      }
}
@media screen {
	.for-print {
		display: none;
	}
    body.not-authorized::before{
        content:"";
        position:fixed;
        inset:0;
        z-index:-1;
        background-image: url('../public/viking_image.jpg');
        background-size:cover;
        margin: 0;
    }
    body.authorized::before{
        content:"";
        position:fixed;
        inset:0;
        z-index:-1;
        background-image: url('../public/4_vshg_logo_final_graphic_large.png');
        background-size:cover;
        opacity:0.5;
        margin: 0 2rem 0 2rem;
    }
}
sortalticon{
    display: none;
}
.pms-630-pc{
    background-color:  #75CFE5;
}
.pms-315-pc{
    background-color:  #00718C!important;;
    color:white;
    .p-panel-header{
        background-color:#00718C!important;
        padding-top:0;
        padding-bottom: 0;
    }
}
.p-menubar .p-submenu-list{
    z-index: 3!important;
}