<p-toast position="bottom-right" key="clientContact" />
<p-card>
    <div class="field grid mt-3">
        <label for="firstName" style="width: 100px" class="font-semibold">Name</label>
        <div class="col-12 md:col-10">
            <input id="firstName" pInputText type="text" pInputText class="w-full" [(ngModel)]="contact!.name" />
        </div>
    </div>
    <div class="field grid">
        <label for="title" style="width: 100px" class="font-semibold">Title</label>
        <div class="col-12 md:col-10">
            <input id="title" pInputText type="text" pInputText class="w-full" [(ngModel)]="contact!.title" />
        </div>
    </div>
    <div class="field grid">
        <label for="email" style="width: 100px" class="font-semibold">Email</label>
        <div class="col-12 md:col-10">
            <input id="email" pInputText type="text" pInputText class="w-full" [(ngModel)]="contact!.email" />
        </div>
    </div>
    <div class="field grid">
        <label for="cellPhone" style="width: 100px" class="font-semibold">Cell Phone</label>
        <div class="col-12 md:col-10">
            <p-inputMask inputId="cellPhone" mask="(999) 999-9999" class="w-full" [(ngModel)]="contact!.cellPhone" />
        </div>
    </div>
    <div class="field grid">
        <label for="officePhone" style="width: 100px" class="font-semibold">Office Phone</label>
        <div class="col-12 md:col-10">
            <p-inputMask inputId="officePhone" mask="(999) 999-9999" class="w-full" [(ngModel)]="contact!.officePhone" />
        </div>
    </div>
    <div class="field grid">
        <label for="address" style="width: 100px" class="font-semibold">Address</label>
        <div class="col-12 md:col-10">
            <input pInputText type="text" inputId="address" class="w-full" [(ngModel)]="contact!.address" />
        </div>
    </div>
    <div class="field grid">
        <label for="city" style="width: 100px" class="font-semibold">City</label>
        <div class="col-12 md:col-10">
            <input pInputText type="text" inputId="city" class="w-full" [(ngModel)]="contact!.city" />
        </div>
    </div>
    <div class="field grid">
        <label for="state" style="width: 100px" class="font-semibold">State</label>
        <div class="col-12 md:col-10">
            <input pInputText type="text" inputId="state" class="w-full" [(ngModel)]="contact!.state" />
        </div>
    </div>
    <div class="field grid">
        <label for="zip" style="width: 100px" class="font-semibold">Zip</label>
        <div class="col-12 md:col-10">
            <input pInputText type="text" inputId="zip" class="w-full" [(ngModel)]="contact!.zip" />
        </div>
    </div>
    <div class="field grid">
        <div class="col-6 md:col-5">
            <p-checkbox [binary]="true" inputId="vip" class="w-full" [(ngModel)]="contact!.vip" label="Vip" />
        </div>
        <div class="col-6 md:col-5">
            <p-checkbox [binary]="true" inputId="isActive" class="w-full" [(ngModel)]="contact!.isActive" label="Active" />
        </div>
    </div>
    <p-divider />
    <div class="text-right">
        <p-button icon="pi pi-save" label="Save" [outlined]="true" severity="primary" (click)="save()" />
    </div>
</p-card>
